

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Manage Billing Discount</h5>
                                        <h4 style="color: green;">{{message}}</h4>
                                    </div>
                                    <div class="ibox-content">
                                        <form [formGroup]="billdscFormGroup">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                                    <mat-form-field appearance="outline" class="col-md-12">
                                                        <mat-label>Name</mat-label>
                                                        <input id="name" type="text" matInput placeholder="name" formControlName="name" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                                    <mat-form-field appearance="outline" class="col-md-12">
                                                         <mat-select id="status" formControlName="status" (selectionChange)="onChangedSort($event)" placeholder="Status" [(value)]="selected">
                                                            <mat-option [value]="true">Active</mat-option>
                                                            <mat-option [value]="false">InActive</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                                    <mat-form-field appearance="outline" class="col-md-12">
                                                        <mat-label>Min Discount</mat-label>
                                                        <input id="minDiscount" type="number" matInput placeholder="0" formControlName="minDiscount" required>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                                    <mat-form-field appearance="outline" class="col-md-12">
                                                        <mat-label>Max Discount</mat-label>
                                                        <input id="maxDiscount" type="number" matInput placeholder="0" formControlName="maxDiscount" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                                  <div class="col-md-12">
                                                    <mat-checkbox formControlName="isPercentage">IsPercentage</mat-checkbox>
                                                  </div>
                                                </div>

                                                <div class="col-lg-4 col-sm-4 col-xs-12">
                                                    <div class="col-md-12">
                                                      <mat-checkbox formControlName="needsApproval">NeedsApproval</mat-checkbox>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-xs-12" style="padding-left: 30px;">
                                                        
                                                    <button *ngIf="edit" class="col-md-6" mat-raised-button color="primary" (click)="onEditBillingdsc()">
                                                        <mat-icon aria-hidden="false">save</mat-icon>&nbsp;Update
                                                    </button>
                                                  
                                                    <button *ngIf="save" class="col-md-6" mat-raised-button color="primary" (click)="onSaveBilldsc()">
                                                        <mat-icon aria-hidden="false">save</mat-icon>&nbsp;Save
                                                    </button>
                                             
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
