<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-2">
                        <app-registration-navigation></app-registration-navigation>
                    </div>


                    <div class="col-md-10">
                        <app-new-patient></app-new-patient>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
