<ul class="list-group">
    <li class="list-group-item">
        <a [routerLink]="['/records/allPatients']">
            Search
        </a>
    </li>
    <li class="list-group-item">
        <a [routerLink]="['/records/home', id]">
            Dashboard
        </a>
    </li>
    <li class="list-group-item">
        <a [routerLink]="['/records/history']">
            History
        </a>
    </li>
    <li class="list-group-item">
        <a [routerLink]="['/records/home']">
            Timeline
        </a>
    </li>
    <li class="list-group-item">Activities</li>
    <li class="list-group-item">Consultations</li>
    <li class="list-group-item">Laboratory</li>
    <li class="list-group-item">Imaging</li>
    <li class="list-group-item">Prescriptions</li>
    <li class="list-group-item">Pharmacy</li>
    <li class="list-group-item"> <a [routerLink]="['/records/home']"> Billing </a> </li> 
</ul>
